.report-cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* 가로 중앙 정렬 */
  text-align: center;
  padding: 30px;
}

.card-icon {
  margin-bottom: 20px; /* 아이콘과 텍스트 사이 간격 */
  color: #333333;        /* 아이콘 색상 */
}